///*------------------------------------*\
//   #BAND
//\*------------------------------------*/

//    The band object simply adds vertical padding to content.

//    Predefine the variables below in order to alter and enable specific features.
$plump-band-namespace:                       $plump-namespace !default;

$plump-band-padding:                         $plump-base-spacing-unit !default;
$plump-band-padding--tiny:                   quarter($plump-band-padding) !default;
$plump-band-padding--small:                  halve($plump-band-padding) !default;
$plump-band-padding--large:                  double($plump-band-padding) !default;
$plump-band-padding--huge:                   quadruple($plump-band-padding) !default;

$plump-band-background--highlight:           #fff !default;
$plump-band-background--dark:                #2e2e2e !default;
$plump-band-background--tint:                #f2f2f2 !default;

$plump-enable-band--flush:                   false !default;
$plump-enable-band--tiny:                    false !default;
$plump-enable-band--small:                   false !default;
$plump-enable-band--large:                   false !default;
$plump-enable-band--huge:                    false !default;

$plump-enable-band--highlight:               false !default;
$plump-enable-band--dark:                    false !default;
$plump-enable-band--tint:                    false !default;





.#{$plump-band-namespace}o-band,
%#{$plump-band-namespace}o-band {
	padding-top: $plump-band-padding;
	padding-bottom: $plump-band-padding;
}





@if ($plump-enable-band--flush == true) {

	//    Flush (i.e. no padding) band.

	.#{$plump-band-namespace}o-band--flush,
	%#{$plump-band-namespace}o-band--flush {
		padding: 0;
	}

}

@if ($plump-enable-band--tiny == true) {

	//    Tiny band.

	.#{$plump-band-namespace}o-band--tiny,
	%#{$plump-band-namespace}o-band--tiny {
		padding-top: $plump-band-padding--tiny;
		padding-bottom: $plump-band-padding--tiny;
	}

}

@if ($plump-enable-band--small == true) {

	//    Small band.

	.#{$plump-band-namespace}o-band--small,
	%#{$plump-band-namespace}o-band--small {
		padding-top: $plump-band-padding--small;
		padding-bottom: $plump-band-padding--small;
	}

}

@if ($plump-enable-band--large == true) {

	//    Large band.

	.#{$plump-band-namespace}o-band--large,
	%#{$plump-band-namespace}o-band--large {
		padding-top: $plump-band-padding--large;
		padding-bottom: $plump-band-padding--large;
	}

}

@if ($plump-enable-band--huge == true) {

	//    Huge band.

	.#{$plump-band-namespace}o-band--huge,
	%#{$plump-band-namespace}o-band--huge {
		padding-top: $plump-band-padding--huge;
		padding-bottom: $plump-band-padding--huge;
	}

}




@if ($plump-enable-band--highlight == true) {

	//    Highlight band.

	.#{$plump-band-namespace}o-band--highlight,
	%#{$plump-band-namespace}o-band--highlight {
		background-color: $plump-band-background--highlight;
	}
}

@if ($plump-enable-band--dark == true) {

	//    Highlight band.

	.#{$plump-band-namespace}o-band--dark,
	%#{$plump-band-namespace}o-band--dark {
		background-color: $plump-band-background--dark;
	}
}

@if ($plump-enable-band--tint == true) {

	//    Tint band.

	.#{$plump-band-namespace}o-band--tint,
	%#{$plump-band-namespace}o-band--tint {
		background-color: $plump-band-background--tint;
	}
}
